<!-- Шаблон страницы формы -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <!-- Обязательно добавляем csrf-токен -->
        {% csrf_token %}
        <!-- Создаем форму, указав элемент, в который будут завернуты все поля. -->
        {{ form.as_div }}
        <button type="submit">Отправить</button>
    </form>
</body>
</html>