<!-- Главная страница -->
<!-- Подключаем статический контент. -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Указываем в ссылке адрес статического контента - css/style.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>{{ username }}</div>
    <!-- Подключаем медиа контент - изображение img/cat.jpg -->
    <img src="media/img/cat.jpg" alt="картинка">
</body>
</html>