{% extends "base.html" %}

{% block title %}Регистрация{% endblock title %}
{% block content %}
    <h1>Регистрация пользователя</h1>
    <form method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div class='form_field'>
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        {% comment %} Вывод ошибок, возникающих при валидации {% endcomment %}
        {% if form.errors%}
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <input type="submit" value="Зарегистрироваться">
    </form>
{% endblock content %}