# Файл, в котором прописываются названия и маски файлов,
# которые не должны быть загружены через git на GitHub

# .env - это файл, хранящий скрываемые от посторонних данные
# в форме пар ключ = значение, каждая пара с новой строки
# .env
