<!-- Шаблон авторизации пользователя -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Авторизация</h1>
    <!-- Форма авторизации пользователя -->
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" required>
        <input type="password" name="password" required>
        <button type="submit">Авторизироваться</button>
    </form>
</body>
</html>