<!-- Шаблон для регистрации пользователя -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Регистрация пользователя</h1>
    <!-- Форма регистрации пользователя -->
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="my_field">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>