<!-- Шаблон страницы О нас со списком работников -->

<!-- Структура наследуется от шаблона base.html -->
{% extends "base.html" %}

<!-- Элемент block с уникальным именем title переопределяет 
содержимое, унаследованное от родительского шаблона base.html -->
{% block title %}О нас{% endblock %}

{% block content %}
    <h1>О нас</h1>

    <!-- Шаблон конструкции цикла -->
    <!-- {% for переменная_цикла in набор_значений %}
        Набор элементов/действий
    {% endfor %} -->
    
    <!-- Проверка, есть ли элементы в списке -->
    {% if staff %}
        <!-- Обход по элементам цикла -->
        {% for worker in staff %}
            <!-- loop - встроенная переменная, позволяющая работать с индексом итераций. 
            loop.first возвращает True на первой итерации, loop.last на последней,
            loop.index - номер текущей итерации. -->
            <p class="worker_plate">Наш работник {{ worker }} {{ loop.index }}</p>
            {% if loop.first %}
                <div>Лучший работник года!</div>
                <br>
            {% elif loop.last %}
                <div>Список работников окончен!</div>
            {% else %}
                <br>
            {% endif %}
        <!-- Конец оператора цикла -->
        {% endfor %}
    {% else %}
        <div>Работников у нас нет!</div>
    {% endif %}
{% endblock %}