<!-- Базовый шаблон, структуру которого страницы сайта берут за основу -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Конструкция {% block уникальное_имя %}{% endblock %} помещаются туда,
    где требуется динамически определяющийся контент, 
    формируемый в зависимости от посещенной страницы. -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
