<!-- Шаблон страницы Главная -->

<!-- Структура наследуется от шаблона base.html -->
{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Главная страница</h1>

    <!-- Шаблон конструкции условия -->
    <!-- {% if условие_1 %}
      Набор элементов/действий_1
    {% elif условие_2 %} (необязательно)
     Набор элементов/действий_2
    ...
    {% else %} (необязательно)
      Набор элементов/действий_n
    {% endif %} -->

    {% if params.name == 'Саид' %}
      <!-- Переменные передаются в шаблон в форме {{ имя_переменной }} -->
      <div>{{ params.name }}, добро пожаловать!</div>
    {% else %}
      <div>{{ params.name }}, я вас не знаю, покиньте сайт.</div>
    <!-- Конец оператора условия -->
    {% endif %}

{% endblock %}